*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
} 
:root{
    --header-font-size : 1.8rem;
    --subheader-font-size : 1.1rem;
    --heading-padding: 0.8rem;
    --header-font-color: rgb(206, 184, 184);
}


body{
    /* background-color: rgb(255, 189, 177) */
    background-image: linear-gradient(-45deg,rgb(133, 133, 133),rgb(39, 14, 14),#000000, #292631,#ffffff)
    /* background-image: linear-gradient(130deg,#000000, #292631,#0c0c0c,#000000, #292631,#0c0c0c); */
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
}


i{
    color: rgb(218, 178, 178);
   
}

i:hover{
    opacity: 0.8;
    color: rgb(250, 125, 125);
}

/* -----------------------------------NAV BAR-------------------------- */

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #294949;
    height: 10vh;
    color: whitesmoke;
}

.logo{
    letter-spacing: 2px;
    font-size: 2.5rem;
    padding-left: 5vw;
    font-family: 'Grenze Gotisch', cursive;
    /* color: whitesmoke; */
    /* background: linear-gradient(154deg,blue,white,rgb(37, 34, 35)); */
    letter-spacing: 3px;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(104, 106, 112));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   /* position: absolute;
   left: 2%; */
}

ul{
    position: absolute;
    right: 0px;
    display: flex;
    letter-spacing: 2px;
    justify-content: space-between;
    
}

nav li{
    list-style: none;
    font-size: 1.2rem;
    margin: 3rem;
}


nav a{
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover{
    color: rgb(250, 125, 125);
    /* font-size: 1.3rem; */
}
.burger{
    display: none;
     /* margin-right: -25rem; */
     /* position: absolute;
    right: 2%; */
}
.line{
    display: flex;
    margin-top: 3.8px;
    width: 2rem;
    height: 0.15rem;
    background-color: whitesmoke;
    
}


.btn{
    cursor: pointer;
    background-color: #294949;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}




/* ----------------------------------------------- BANNER------------------------------------------------------------------- */



#banner-image{
    width: 100vw;
    top: 0;
}
.my-info{
    position: absolute;
    display: block;
    top:40vh;
    left:35vw;
    padding: 3rem;
    align-self: center;
}

.banner-title{
    color: #fac3c3;
     font-size: 3em;
}

 .banner-subtitle{
    color: rgb(136, 136, 136);
    font-size: 1.5em;
    margin-left: -10%;
} 
/* ----------------------------------------------- SKILLS------------------------------------------------------------------- */
.My-Skills{
    display: block;
    font-size: var(--header-font-size);
    font-weight: bold;
    margin-left: 40vw;
    padding: 2rem;
    color: var(--header-font-color);
    letter-spacing: 0.1rem;
   
}

.container{
    display: flex;
    background-color: rgb(248, 205, 152);
    justify-content: space-evenly;
}

.skill{
     display: flex;
     /* width: 20vw; */
     justify-content: center;
     padding: 2rem;
     flex-direction: column;
}


.skill img{
    height: 5vw;
    width: 5vw;
    margin: auto;
    margin-bottom: 1.1rem;
}

.skill img:hover{
   opacity: 0.8;
   color: rgb(250, 125, 125);
}

.skill-text{
    font-weight: bold;
    margin: auto;
    font-size: var(--subheader-font-size);
}



/* ----------------------------------------------- PROJECTS------------------------------------------------------------------- */

.portfolio-title{
    display: block;
    font-size: var(--header-font-size);
    font-weight: bold;
    margin-left: 40vw;
    padding: 2rem;
    color: var(--header-font-color);
    letter-spacing: 0.1rem;
}

#project-image{
    height: 60vh;
    width: 45vw;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-details{
    box-shadow: 5px 5px 10px 5px rgb(8, 8, 8);
    margin: 2rem;
    width: 45vw;
    display: grid;
    background-color: rgb(248, 205, 152);
    place-items: center;
    padding-bottom: 2rem;
    color: #1a2e2e;
}

.project-details i{
    color: #142424;
    align-self: flex-end;
}

.project-details .links{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}
.project-desc{
    font-size: 1.2rem;
}
.project-title{
    font-size: 1.3rem;
    font-weight: bold;
    padding:1rem;
}


hr{
    width: 50%;
    color: black;
    align-self: center;
    margin-top: 1cm;
}
/* -----------------CONTACT------------------------------- */
.contact-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: transparent;
    top:65vh;
    left:27vw;
    width: 40rem;
}



/* .contact-container #email-id{
    color: wheat;
    display: block;
    margin: auto;
    margin-left: 5px;
} */

.contact-logo{
    width: 2.5rem;
    height:2.5rem;
}

/* .contact-container::after{
    display: block;
    content: "chandanshetti149@gmail.com";
    color: white;
} */
/* 
.contact-logo:hover{
    width: 4rem;
    height:4rem;
    transform: translate(10px, 15px);
} */

#email-id{
    margin-left: -8vw;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: sans-serif;
    color: #1a2e2e;
}


/* --------------------------------------------MEDIA QUERY------------------------------------------------------- */

@media only screen and (max-width:768px){

    html,body{
        max-width: 100%;
        overflow-x: hidden;
    }

    
    .nav-bar{
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #294949;
    }

 .burger{
        display: block;
    }
    

    nav a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    ul{
        top: 10vh;
        position: fixed;
        display: flex;
        justify-content: space-between;
        width: 40vw;
        height: auto;
        flex-direction: column;
        background-color: #294949;
        transform: translateX(100%);
        transition: 1s ease;
    }

    nav a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        
        
    }
    .btn{
        cursor: pointer;
    }
    .nav-links li{
        list-style: none;
        font-size: 1.2rem;
        margin: auto;
        padding: 2.5vh;
        opacity: 0;
    }
   .nav-active{
    transform: translateX(0%);
   }

    .toggle .line1{
        transform:rotate(-45deg) translate(-7px,3px) ;
    } 

    .toggle .line2{
        opacity: 0;
     }

    .toggle .line3{
        transform:rotate(45deg) translate(-6px,-2px) ;
     }  


     @keyframes nav-text{
        from{
            opacity:0;
            transform: translateX(50px);
        } 
        to{
            opacity:1;
            transform: translateX(0px);
        }
         
     }
     /* For small screen after NAV BAR */

     .banner-title{
        color: rgb(187, 198, 248);
         font-size: 2em;
         margin-left: -15%;
    }
    
     .banner-subtitle{
        color: rgb(108, 88, 221);
        font-size: 0.9rem;
        margin-left: -25%; 
    } 

    .my-info{
        position: absolute;
        display: block;
        top:20vh;
        left:30vw;
        padding: 0.5rem;
        align-self: center;
    }

    .My-Skills{
        display: block;
        font-size: var(--header-font-size);
        font-weight: bold;
       
        margin:auto;
        padding: 0.8rem;
       margin-left: 25vw;
    }
    @keyframes myInfoSlide{
        from{
            left:30vw;
        } 
        to{
            opacity: 0.1;
            left:14vw;
        }
         
     }

     .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }


    .portfolio-title{
        display: block;
        font-size: var(--header-font-size);
        font-weight: bold;
        width: 50%;
        margin:auto;
        padding: var(--heading-padding);
        
    }


    .projects-container{
        display: grid;
        grid-template-columns: 1fr;

    }

    #project-image{
        height: 30vh;
        width: 80vw;
    }

    .project-details{
       height: auto;
        width: 80vw;
        display: grid;
        place-items: center;
        margin:auto;
       margin-bottom: 2rem;
    }
    .project-desc{
        font-size: 1.1rem;
        padding: 0.4rem;
    }
    .logo{
       
        margin-left: -4rem;
      
    }

    .contact-container{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
        top:30vh;
        left:10vw;
        width: 80vw;
    }

    .contact-logo{
        width: 2rem;
        height:2rem;
    }

    .skill-text{
        margin: auto;
        font-size: 0.9rem;
        width: auto;
        font-weight: 700;
        color: #292631;
        font-family: sans-serif;
    }
    
    .skill{
        padding: 1rem;
    }

    .skill img{
        height: 10vw;
        width: 10vw;
        margin: auto;
        margin-bottom: 1.1rem;
    }
}